@import "assets/variables";
@import "assets/mixin/mixin";
@import "components/header";
@import "components/hero";
@import "components/items";
@import "components/img_text";
@import "components/message";
@import "components/footer";

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.container {
  max-width: 1140px;
  width: calc(100% - 100px);
  margin: 0 auto;
}
.flip {
  transform: scaleX(-1);
}
p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  left: -9999px;
  &__focus {
    position: absolute;
    left: -9999px;
    background: lightgray;
    color: black;
    padding: 10px 15px;
    &:focus {
      left:0;
    }
  }
}
@import "components/modal";