footer {
  background-color: $black;
  background-image: url("/assets/img/background_footer.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  @media (max-width: $ms) {
    background-position: 14%;
  }
  .footer__title {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 50px;
    @media (max-width: $ms) {
      margin-bottom: 30px;
    }
  }
}
.info_footer {
  display: flex;
  padding: 90px 0 110px;
  @media (max-width: $ms) {
    padding: 90px 0 40px;
  }
  .img {
    @media (max-width: $ms) {
      margin-bottom: 20px;
    }
    img {
      margin: 0 auto;
      display: block;
    }
  }
  .col1 {
    width: 30%;
    flex-grow: 1;
    & + .col1 {
      padding-left: 23px;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
    li {
      font-size: 13px;
      margin-bottom: 10px;
      &.contact {
        display: flex;
        align-items: center;
        margin-top: 20px;
      }
      span {
        font-size: 13px !important;
        padding: 0 12px;
      }
      span + span {
        border-left: 1px solid $black;
        cursor: pointer;
      }
    }
  }
  @media (max-width: $ms) {
    flex-direction: column;
    .col1 {
      width: 100%;
    }
  }
}
.tweet {
  display: flex;
  margin-bottom: 35px;
  &__img {
    width: 48px;
    img {
      width: 100%;
    }
  }
}
.extrait {
  width: 30%;
  flex-grow: 1;
  font-size: 13px;
  color: $grey;
  padding: 0 50px 0 25px;
  word-break: break-all;
  line-height: 22px;
  span {
    color: $white;
  }
}
.madeby {
  border-top: 1px solid #383838;
  padding: 100px 0;
  @media (max-width: $ms) {
    padding: 50px;
  }
}
.made {
  text-align: center;
}
.credits {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: $white;
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
  }
  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: $white;
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
  }
}
