header {
  background: $black;
  color: $white;
  font-family: "Open Sans", sans-serif;
  .container {
    display: flex;
    justify-content: space-between;
  }
  ul {
    &:first-child {
      justify-content: flex-start;
    }
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    width: 10%;
    flex-grow: 1;
    justify-content: flex-end;
    li {
      a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: $white;
      }
      padding: 0 9px;
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        a {
          color: $yellow;
        }
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 5px;
          background: $yellow;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
      span {
        font-size: 16px !important;
      }
      &.selected {
        a {
          color: $yellow;
        }
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 5px;
          background: $yellow;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }
  }
  h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 45px 0;
  }
  @media (max-width: $ms) {
    .container {
      justify-content: center;
    }
    ul {
      display: none;
    }
    h1 {
      padding: 20px 0;
    }
  }
}
