.slider {
  background: $broken-white;
  height: 100vh;
  position: relative;
  overflow: hidden;
  h3 {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 300px;
    text-align: center;
    .slide-title {
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }
}
.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  transition: 450ms;
}
.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.img-slide {
  height: 270px;
  margin-bottom: 40px;
  img {
    height: 100%;
    display: block;
  }
}
.slider ul {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  li{
    display: block;
    margin-bottom: 20px;
  }
  button {
    display: block;
    width: 8px;
    height: 8px;
    background: $black;
    border-radius: 50%;
    border: 2px solid $black;
    padding:0;
    cursor: pointer;
    &.selected {
      background: none;
    }
  }
}
