.img_text {
    @include description();
    display: flex;
    .img {
        width: 50%;
        background-color: $broken-white;
        img {
            width: 100%;
            display: block;
        }
    }
    @media (max-width: $ms) {
        flex-direction: column;
        .img {
            width: 100%;
            order: 2;
        }
    }
}
.invert {
    color: $white;
    .img{
        order: 2;
        @media (max-width: $ms) {
            display: none;
        }
        img{
            opacity: 0;
        }
    }
    .text{
        background-image: url('/assets/img/background_universe.png');
        background-position: bottom;
    }
    h3::after {
        background: $white;
    }
}
.text {
    width: 30%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: $ms) {
        width: 100%;
    }
}
.signature {
    margin: 60px 0 30px;
}
