.info {
  display: flex;
  @media (max-width: $ms) {
    flex-direction: column;
    .info-left{
      width: 100%;
    }
  }
}
.info-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 40px;
  .img {
    width: 220px;
    img {
      width: 100%;
      display: block;
    }
  }
}
.info-right {
  width: 30%;
  flex-grow: 1;
  .raw {
    display: flex;
    img{
      width: 100%;
      display: block;
    }
  }
  @media (max-width: $ms) {
    width: 100%;
  }
}
