.send_message h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 155px 0 90px;
    font-size: 24px;
    @media(max-width: $ms){
        margin: 80px 0 60px;
    }
}
.send_message{
    .raw {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        @media(max-width: $ms){
            flex-direction: column;
            margin-bottom: 0;
        }
    }
    .material-icons {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.input {
    position: relative;
    width: 49%;
    @media(max-width: $ms){
        width: 100%;
        margin-bottom: 10px;
    }
}
.input-textarea {
    position: relative;
    .material-icons {
        top: 15px;
        transform: none;
    }
    margin-bottom: 80px;
    @media(max-width: $ms){
        margin-bottom: 40px;
    }
}
input, textarea {
    width: 100%;
    padding: 10px 40px 10px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #dadada;
}
.send_message{
    text-align: center;
    button{
        padding: 15px 70px 15px 50px;
        background: $black;
        border: 1px solid $black;
        color: $white;
        font-weight: bold;
        font-style: italic;
        position: relative;
        margin-bottom: 180px;
        cursor: pointer;
        @media(max-width: $ms){
            margin-bottom: 80px;
        }
        &::after{
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-top: 3px solid $white;
            border-right: 3px solid $white;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: rotate(45deg) translateY(-50%);
        }
        &:hover{
            background: none;
            color: $black;
            &::after{
                border-top-color: $black;
                border-right-color: $black;
            }
        }
    }
}