body.modal--open {
    overflow: hidden;
}
@media(max-width: $ms){
    header .modal {
        display: none;
        padding-top: 55px;
        width: 100%;
        height: 100vh;
        transition: 500ms;
        position: absolute;
        top: 0;
        right: -100%;
        &.activated{
            right: 0;
            display: flex;
        }
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: $black;
        z-index: 10;
        overflow-y: scroll;
        h1{
            display: none;
        }
        span {
            color: $white;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-grow: 0;
            li{
                margin-top: 20px;
                font-size: 20px;
                padding: 8px 0;
            }
        }
        a {
            color: $white;
            text-decoration: none;
        }
    }
}
.burger {
    display: none;
    padding: 0;
    background: none;
    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 12;
    height: 30px;
    width: 30px;
    border: 1px solid rgba($black, 0.5);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .open {
        display: block;
    }
    .close {
        display: none;
    }
    &.clicked{
        border-color: $white;
        .open {
            display: none;
        }
        .close {
            display: block;
        }
        .burger__line {
            width: 1px;
            &::before{
                background: $white;
                transform: translateX(-33%) rotate(45deg);
            }
            &::after{
                background: $white;
                transform: translateX(-33%) rotate(-45deg);
            }
        }
    }
    .burger__line {
        display: block;
        position: relative;
        width: 20px;
        height: 3px;
        background: $black;
        border-radius: 30px;
        transition: 300ms;
        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 3px;
            position: absolute;
            top: -7px;
            left: 50%;
            background: $black;
            border-radius: 30px;
            transform-origin: left;
            transform: translateX(-50%);
            transition: 300ms;
        }
        &::after {
            content: '';
            display: block;
            width: 20px;
            height: 3px;
            position: absolute;
            bottom: -7px;
            left: 50%;
            background: $black;
            border-radius: 30px;
            transform-origin: left;
            transform: translateX(-50%);
            transition: 300ms;
        }
    }
}
@media(max-width: $ms){
    .burger {
        display: flex;
    }
}