@mixin description() {
  h3 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding: 50px 0 30px;
    position: relative;
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 40px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $black;
    }
  }
  .subtitle {
    margin: 30px 20px 50px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
  }
  .description {
    max-width: 560px;
    width: calc(100% - 40px);
    text-align: center;
    font-size: 14px;
    font-family: "Merriweather", serif;
    letter-spacing: 1px;
  }
}
